{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Nebraska Lounge|Grill </title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link href="{% static 'assets/img/neb_logo.png' %}" rel="icon">
    <link href="{% static 'assets/img/neb_logo.png' %}" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
</head>

{% if messages %}
    <div id="message-card" class="alert alert-success position-fixed top-0 end-0 m-3 shadow-lg" style="z-index: 1050;">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>

    <script>
        // Hide the message card after 5 seconds
        setTimeout(function () {
            var messageCard = document.getElementById("message-card");
            if (messageCard) {
                messageCard.style.display = "none";
            }
        }, 5000);
    </script>
{% endif %}

<body class="index-page">

<header id="header" class="header fixed-top">

    <div class="topbar d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">clubnebraska@gmail.com</a></i>
                <i class="bi bi-phone d-flex align-items-center ms-4"><span>0707444742</span></i>
            </div>
            <div class="languages d-none d-md-flex align-items-center">
                <ul>
                    <!-- <li>En</li> -->
                    <!-- <li><a href="#">De</a></li> -->
                </ul>
            </div>
        </div>
    </div><!-- End Top Bar -->

    <div class="branding d-flex align-items-cente">

        <div class="container position-relative d-flex align-items-center justify-content-between">
            <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <img src="{% static 'assets/img/remove.png' %}" alt="">
                <h1 class="sitename">Nebraska Lounge & Grill</h1>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="#hero" class="active">Home<br></a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#menu">Menu</a></li>
                    <li><a href="#specials">Specials</a></li>
                    <li><a href="#events">Events</a></li>
                    <li><a href="#staffs">Staffs</a></li>
                    <li><a href="#gallery">Gallery</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>
            <a class="btn-book-a-table d-none d-xl-block" href="#book-a-table">Book a Table</a>
        </div>

    </div>

</header>

<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

        <img src="{% static 'assets/img/background2.jpg' %}" alt="" data-aos="fade-in">

        <div class="container">
            <div class="row">
                <div class="col-lg-8 d-flex flex-column align-items-center align-items-lg-start">
                    <h2 data-aos="fade-up" data-aos-delay="100">Welcome to <span>Nebraska Lounge & Grill</span></h2>
                    <p data-aos="fade-up" data-aos-delay="200">Delivering great foods and drinks for more than 10
                        years!</p>
                    <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
                        <a href="#menu" class="cta-btn">Our Menu</a>
                        <a href="#book-a-table" class="cta-btn">Book a Table</a>
                    </div>
                </div>
                <div class="col-lg-4 d-flex align-items-center justify-content-center mt-5 mt-lg-0">
                    <a href="https://youtu.be/yapnShVOPvA?si=b9JNySVnjJ9I0Dnx" class="glightbox pulsating-play-btn"></a>
                </div>
            </div>
        </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">
                <div class="col-lg-6 order-1 order-lg-2">
                    <img src="{% static 'assets/img/neb-about.jpg' %}" class="img-fluid about-img" alt="">
                </div>
                <div class="col-lg-6 order-2 order-lg-1 content">
                    <h3>About us</h3>
                    <p class="fst-italic">
                        Welcome to Nebraska Lounge & Grill, a dynamic community dedicated to fostering connections, promoting
                        growth, and creating impactful experiences. Our club brings together like-minded individuals who
                        share a passion for networking, personal development, and community engagement.
                    <ul>
                        <li><i class="bi bi-check2-all"></i> <span>Community & Networking – Bringing together like-minded individuals for meaningful connections</span>
                        </li>
                        <li><i class="bi bi-check2-all"></i> <span>Impact & Engagement – Creating a positive influence through events and initiatives.</span>
                        </li>
                        <li><i class="bi bi-check2-all"></i> <span>Growth & Development – Providing opportunities for personal and professional growth.</span>
                        </li>
                    </ul>
                    <p>
                        At Nebraska Lounge & Grill, we believe in the power of collaboration and the strength of shared values.
                        Whether you're looking to expand your professional network, participate in engaging events, or
                        contribute to meaningful initiatives, our club provides the perfect platform to connect and
                        grow.

                        Join us as we build a vibrant and inspiring community where ideas thrive, friendships flourish,
                        and opportunities abound.
                    </p>
                </div>
            </div>

        </div>

    </section><!-- /About Section -->

    <!-- Why Us Section -->
    <section id="why-us" class="why-us section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>WHY US</h2>
            <p>Why Choose Our Restaurant</p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="card-item">
                        <span>01</span>
                        <h4><a href="" class="stretched-link">Strong Community</a></h4>
                        <p>We bring together individuals who share common interests, fostering meaningful connections
                            and collaborations.</p>
                    </div>
                </div><!-- Card Item -->

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="card-item">
                        <span>02</span>
                        <h4><a href="" class="stretched-link">Commitment to Excellence </a></h4>
                        <p>We strive for quality, innovation, and impactful engagement in everything we do.</p>
                    </div>
                </div><!-- Card Item -->

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="card-item">
                        <span>03</span>
                        <h4><a href="" class="stretched-link">Exclusive Opportunities</a></h4>
                        <p>Gain access to special events, resources, and programs designed to support personal and
                            professional growth.</p>
                    </div>
                </div><!-- Card Item -->

            </div>

        </div>

    </section><!-- /Why Us Section -->

    <!-- Menu Section -->
    <section id="menu" class="menu section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Menu</h2>
            <p>Check Our Tasty Menu</p>
        </div><!-- End Section Title -->

        <div class="container isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul class="menu-filters isotope-filters">
                        <li data-filter="*" class="filter-active">All</li>
                        {% for category in categories %}
                            <li data-filter=".filter-{{ category.name|slugify }}">{{ category.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div><!-- Menu Filters -->

            <div class="row isotope-container" data-aos="fade-up" data-aos-delay="200">
                {% for item in menu_items %}
                    <div class="col-lg-6 menu-item isotope-item filter-{{ item.category.name|slugify }}">
                        <img src="{{ item.image.url }}" class="menu-img" alt="{{ item.name }}">
                        <div class="menu-content">
                            <a href="#">{{ item.name }}</a><span>Ksh.{{ item.price }}</span>
                        </div>
                        <div class="menu-ingredients">
                            {{ item.description }}
                        </div>
                    </div><!-- Menu Item -->
                {% endfor %}
            </div><!-- Menu Container -->

        </div>

    </section><!-- /Menu Section -->

    <!-- Specials Section -->
    <section id="specials" class="specials section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Specials</h2>
            <p>Check Our Specials</p>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row">
                <div class="col-lg-3">
                    <ul class="nav nav-tabs flex-column">
                        {% for special in specials %}
                            <li class="nav-item">
                                <a class="nav-link {% if forloop.first %}active show{% endif %}" data-bs-toggle="tab"
                                   href="#specials-tab-{{ forloop.counter }}"> {{ special.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-9 mt-4 mt-lg-0">
                    <div class="tab-content">
                        {% for special in specials %}
                            <div class="tab-pane {% if forloop.first %}active show{% endif %}"
                                 id="specials-tab-{{ forloop.counter }}">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>{{ special.title }}</h3>
                                        <p class="fst-italic">{{ special.description }}</p>
                                        <p>{{ special.details }}</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="{{ special.image.url }}" alt="{{ special.title }}" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>

    </section><!-- /Specials Section -->

    <!-- Events Section -->
    <section id="events" class="events section">

        <img class="slider-bg" src="{% static 'assets/img/neb-event.jpg' %}" alt="" data-aos="fade-in">

        <div class="container">

            <div class="swiper init-swiper" data-aos="fade-up" data-aos-delay="100">
                <script type="application/json" class="swiper-config">
                    {
                      "loop": true,
                      "speed": 600,
                      "autoplay": {
                        "delay": 5000
                      },
                      "slidesPerView": "auto",
                      "pagination": {
                        "el": ".swiper-pagination",
                        "type": "bullets",
                        "clickable": true
                      }
                    }
                </script>
                <div class="swiper-wrapper">
                    {% for ev in event %}
                        <div class="swiper-slide">
                            <div class="row gy-4 event-item">
                                <div class="col-lg-6">
                                    <img src="/media/{{ ev.image }}"
                                         class="img-fluid"
                                         alt="">
                                </div>
                                <div class="col-lg-6 pt-4 pt-lg-0 content">
                                    <h3>{{ ev.event_type }}</h3>
                                    <div class="price">
                                        <p><span>Ksh.{{ ev.event_price }}</span></p>
                                    </div>
                                    <p class="fst-italic">
                                        {{ ev.event_title }}
                                    </p>
                                    <ul>
                                        {% for fea in ev.get_features_list %}
                                            <li><i class="bi bi-check2-circle"></i> <span>{{ fea }}.</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <p>
                                        {{ ev.event_description }}
                                    </p>
                                </div>
                            </div>
                        </div><!-- End Slider item -->
                    {% endfor %}


                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>

    </section><!-- /Events Section -->

    <!-- Book A Table Section -->
    <section id="book-a-table" class="book-a-table section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>RESERVATION</h2>
            <p>Book a Table</p>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <form action="/book_table" method="post" role="form" class="form-control">
                {% csrf_token %}
                <div class="row gy-4">
                    <div class="col-lg-4 col-md-6">
                        <label for="name">Name</label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                               required="">
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <label for="email">Your Email</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                               required="">
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <label for="phone">Phone Number</label>
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone"
                               required="">
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <label for="date">Date</label>
                        <input type="date" name="date" class="form-control" id="date" placeholder="Date" required="">
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <label for="time">Time</label>
                        <input type="time" class="form-control" name="time" id="time" placeholder="Time" required="">
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <label for="people">Number of people</label>
                        <input type="number" class="form-control" name="no_of_people" id="people"
                               placeholder="# of people"
                               required="">
                    </div>
                </div>
                <div class="form-group mt-3">
                    <textarea class="form-control" name="message" rows="5"
                              placeholder="Describe more of the booking"></textarea>
                </div>
                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-secondary w-100" style="background-color: green">Book a Table
                    </button>
                </div>

            </form><!-- End Reservation Form -->

        </div>

    </section><!-- /Book A Table Section -->

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Testimonials</h2>
            <p>What they're saying about us</p>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="swiper init-swiper" data-speed="600" data-delay="5000"
                 data-breakpoints="{ &quot;320&quot;: { &quot;slidesPerView&quot;: 1, &quot;spaceBetween&quot;: 40 }, &quot;1200&quot;: { &quot;slidesPerView&quot;: 3, &quot;spaceBetween&quot;: 40 } }">
                <script type="application/json" class="swiper-config">
                    {
                      "loop": true,
                      "speed": 600,
                      "autoplay": {
                        "delay": 5000
                      },
                      "slidesPerView": "auto",
                      "pagination": {
                        "el": ".swiper-pagination",
                        "type": "bullets",
                        "clickable": true
                      },
                      "breakpoints": {
                        "320": {
                          "slidesPerView": 1,
                          "spaceBetween": 40
                        },
                        "1200": {
                          "slidesPerView": 3,
                          "spaceBetween": 20
                        }
                      }
                    }
                </script>

                <div class="swiper-wrapper">
                    {% for tes in testi %}
                        <div class="swiper-slide">
                            <div class="testimonial-item"
                            "="">
                            <p>
                                <i class=" bi bi-quote quote-icon-left"></i>
                                <span>{{ tes.testimony }}.</span>
                                <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                            <img src="/media/{{ tes.image }}" class="testimonial-img"
                                 alt="">
                            <h3>{{ tes.name }}</h3>
                            <h4>{{ tes.position }}</h4>
                        </div>
                        </div><!-- End testimonial item -->
                    {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>

        </div>

    </section><!-- /Testimonials Section -->

    <!-- Gallery Section -->
    <section id="gallery" class="gallery section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Gallery</h2>
            <p>Some photos from Our Restaurant</p>
        </div><!-- End Section Title -->

        <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
            <div class="row g-0">
                {% for ga in gal %}
                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="/media/{{ ga.image }}" class="glightbox"
                               data-gallery="images-gallery">
                                <img src="/media/{{ ga.image }}" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div><!-- End Gallery Item -->
                {% endfor %}
            </div>
        </div>
    </section><!-- /Gallery Section -->

    <!-- Chefs Section -->
    <section id="staffs" class="chefs section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Team</h2>
            <p>Our beloved staffs</p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-4">
                {% for st in staf %}
                    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="member">
                            <img src="/media/{{ st.image }}" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>{{ st.name }}</h4>
                                    <span>{{ st.position }}</span>
                                </div>
                                <div class="social">
                                    <a href="{{ st.X_link }}"><i class="bi bi-twitter-x"></i></a>
                                    <a href="{{ st.facebook }}"><i class="bi bi-facebook"></i></a>
                                    <a href="{{ st.instagram }}"><i class="bi bi-instagram"></i></a>
                                    <a href="{{ st.linkedin }}"><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Team Member -->
                {% endfor %}
            </div>
        </div>

    </section><!-- /Chefs Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Contact</h2>
            <p>Contact Us</p>
        </div><!-- End Section Title -->

        <div class="mb-5" data-aos="fade-up" data-aos-delay="200">
            <iframe style="border:0; width: 100%; height: 400px;"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12878.344575645991!2d34.309707568175064!3d0.16675831465066618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x177fef00036570db%3A0x2e309c487910e553!2sNebraska%20Lounge%20and%20Grill%2C%20Ugunja!5e1!3m2!1sen!2ske!4v1740829531077!5m2!1sen!2ske"
                    frameborder="0" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div><!-- End Google Maps -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">

                <div class="col-lg-4">
                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                        <i class="bi bi-geo-alt flex-shrink-0"></i>
                        <div>
                            <h3>Location</h3>
                            <p>Kisumu - Busia Road, Ugunja, Siaya County</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                        <i class="bi bi-telephone flex-shrink-0"></i>
                        <div>
                            <h3>Open Hours</h3>
                            <p>Monday-Sunday:<br>24 hours</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                        <i class="bi bi-telephone flex-shrink-0"></i>
                        <div>
                            <h3>Call Us</h3>
                            <p>0707444742</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
                        <i class="bi bi-envelope flex-shrink-0"></i>
                        <div>
                            <h3>Email Us</h3>
                            <p>clubnebraska@gmail.com</p>
                        </div>
                    </div><!-- End Info Item -->

                </div>

                <div class="col-lg-8">
                    <form action="/contacts" method="post" class="form-control" data-aos="fade-up"
                          data-aos-delay="200">
                        {% csrf_token %}
                        <div class="row gy-4">

                            <div class="col-md-6">
                                <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                            </div>

                            <div class="col-md-6 ">
                                <input type="email" class="form-control" name="email" placeholder="Your Email"
                                       required="">
                            </div>

                            <div class="col-md-12">
                                <input type="text" class="form-control" name="subject" placeholder="Subject"
                                       required="">
                            </div>

                            <div class="col-md-12">
                                <textarea class="form-control" name="message" rows="6" placeholder="Message"
                                          required=""></textarea>
                            </div>
                            <div class="form-group mt-3">
                                <button type="submit" class="btn btn-secondary w-100">
                                    Send Message
                                </button>
                            </div>


                        </div>
                    </form>
                </div><!-- End Contact Form -->

            </div>

        </div>

    </section><!-- /Contact Section -->

</main>

<footer id="footer" class="footer">

    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6 footer-about">
                <a href="index.html" class="logo d-flex align-items-center">
                    <span class="sitename">Restaurantly</span>
                </a>
                <div class="footer-contact pt-3">
                    <p>Kisumu - Busia Road</p>
                    <p>Ugunja, Siaya Kenya</p>
                    <p class="mt-3"><strong>Phone:</strong> <span>0707444742</span></p>
                    <p><strong>Email:</strong> <span>clubnebraska@gmail.com</span></p>
                </div>
                <div class="social-links d-flex mt-4">
                    <a href=""><i class="bi bi-twitter-x"></i></a>
                    <a target="_blank"
                       href="https://www.facebook.com/profile.php?id=61550605654299&rdid=6m4FQCErQqDpgeiM&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1C6Q7vjuUK%2F"><i
                            class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Terms of service</a></li>
                    <li><a href="#">Privacy policy</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
                <h4>Our Services</h4>
                <ul>
                    <li><a href="#">Wedding Party</a></li>
                    <li><a href="#">Birth Party</a></li>
                    <li><a href="#">Conference</a></li>
                    <li><a href="#">Private Meetings</a></li>
                    <li><a href="#">Accommodation</a></li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-12 footer-newsletter">
                <img src="{% static 'assets/img/footer_logo.jpg' %}" alt="" width="80%" height="60%" style="border-style: double;">

            </div>

        </div>
    </div>


</footer>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

<!-- Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Disable right-click on all images
        document.querySelectorAll("img").forEach(img => {
            img.addEventListener("contextmenu", function (event) {
                event.preventDefault();
            });
        });

        // Disable right-click inside the lightbox
        document.addEventListener("contextmenu", function (event) {
            if (event.target.tagName === "IMG") {
                event.preventDefault();
            }
        });
    });
</script>

</body>

</html>